    <main>
        <div class="container-a">
            <h1 class="h1-portada">Crossfit terminology</h1>
            <p class="intro-a">New to Crossfit? Curious About the Words You’ve Heard Around the Box? Here’s a Crossfit
                dictionary of
                terms we’ve compiled. Next time you walk into the gym, do so with your head held high. You’re about
                to be an expert. Let’s get started!</p>

            <section id="foundational">
                <h2>Foundational Knowledge</h2>

                <dl>
                    <dt>Box</dt>
                    <dd>
                        <p>Name of CrossFit gyms.</p>
                    </dd>
                    <dt>AMRAP</dt>
                    <dd>
                        <p>AMRAP is simple: It stands for As Many Rounds (or Reps) as Possible. In circuit training, an
                            AMRAP workout means you need to try to complete the circuit as many times as possible in the
                            time you’re given.</p>
                    </dd>
                    <dt>EMOM</dt>
                    <dd>
                        <p>An acronym for “every minute on the minute,” EMOM workouts challenge you to complete an
                            exercise for a certain number of reps in less than 60 seconds. </p>
                    </dd>
                    <dt>Ladder</dt>
                    <dd>
                        <p>A ladder is a workout where you increase reps of each exercise by one for each round. </p>
                    </dd>
                    <dt>MetCon</dt>
                    <dd>
                        <p>A MetCon is a Metabolic Conditioning workout. MetCons are typically shorter workouts but they
                            are designed to elevate you to a very high heart rate in a short period of time. They are
                            used to train for stamina and conditioning. </p>
                    </dd>
                    <dt>For time</dt>
                    <dd>
                        <p>When a workouts is scored as “For Time,” the goal is to complete the prescribed amount of
                            work as fast as possible (AFAP). This is also known as a “task priority” (as opposed to
                            “time priority“) workout, because the workout is done when the athlete completes the defined
                            task, however long it takes. </p>
                    </dd>
                    <dt>PR</dt>
                    <dd>
                        <p>Personal record. Beat your time and record weight? That’s a PR.</p>
                    </dd>
                    <dt>Wod</dt>
                    <dd>
                        <p>Workout of the day. Series of exercises or number of reps for a timed workout.</p>
                    </dd>
                </dl>
            </section>

            <section id="movements">
                <h2>Movements</h2>

                <dl>
                    <dt>Air Squat</dt>
                    <dd>
                        <p>Think squatting without the weights. Seem easy? Try doing 150 and tell us how it feels.</p>
                    </dd>
                    <dt>Band-Assisted Pull-Up</dt>
                    <dd>
                        <p>Think assisted pull-ups without the fuss of an expensive and cumbersome machine. You can use
                            resistance bands looped over the bar to assist your pull-ups.</p>
                    </dd>
                    <dt>Box Jump</dt>
                    <dd>
                        <p>Something you hate doing. Just kidding—it’s one of the best workouts out there, so you better
                            partake. Athletes jump on boxes of a specific height from a two-footed stationary stance.
                        </p>
                    </dd>
                    <dt>Burpees</dt>
                    <dd>
                        <p>Start standing up, bend down and plant your hands, kick back into a plank position, do a
                            push-up. Then bring your legs back up and hop up. </p>
                    </dd>
                    <dt>Clean</dt>
                    <dd>
                        <p>In the Clean, an athlete lifts the barbell from the floor to a racked position across the
                            shoulders. </p>
                    </dd>
                    <dt>Double-unders</dt>
                    <dd>
                        <p>A double-under is when a jump rope passes under your feet twice with only one jump. It can be
                            quite the challenge, especially if you have to do a lot of them. </p>
                    </dd>
                    <dt>Handstand Push-up</dt>
                    <dd>
                        <p>The Handstand Push-up, or HSPU is a challenging movement where athletes go in a handstand and
                            then perform push-ups from that position. </p>
                    </dd>
                    <dt>Muscle up</dt>
                    <dd>
                        <p>A muscle up is a pull-up directly followed by a dip. It’s an advanced movement that takes
                            time to master.</p>
                    </dd>
                    <dt>Rope Climb</dt>
                    <dd>
                        <p>A rope climb is what it sounds like. It’s challenging, but it’s a fantastic exercise for
                            cardio, strength and stamina.</p>
                    </dd>
                    <dt>T2B</dt>
                    <dd>
                        <p>Toes to bar. When hanging from a bar, athletes bend only their waist and raise their toes to
                            touch the bar. Yes, it’s very difficult.</p>
                    </dd>
                    <dt>Wall Ball</dt>
                    <dd>
                        <p>Wall Ball is a common CrossFit exercise where athletes stand facing a wall with a medicine
                            ball, squat down and then explosively stand, flinging the ball upward and catching it.
                            Prepare to do this often.</p>
                    </dd>
                </dl>
            </section>

            <section id="equipment">
                <h2>Equipment</h2>

                <dl>
                    <dt>Abmat</dt>
                    <dd>
                        <p>An abmat is a foam wedge that an athlete places behind his or her back during sit-ups. The
                            abmat provides padding against the pesky ground while increasing your range of motion.</p>
                    </dd>
                    <dt>Kettlebell</dt>
                    <dd>
                        <p>A cast-iron or steel weight that looks like a cannonball with a looped handle. It’s used for
                            a variety of exercises from cardio to strength training.</p>
                    </dd>
                    <dt>Paralettes</dt>
                    <dd>
                        <p>Paralettes are portable parallel bars that stand at a height of about eight inches. They are
                            used to add complexity to certain (already) difficult movements such as handstand push ups.
                        </p>
                    </dd>
                    <dt>Rings</dt>
                    <dd>
                        <p>Rings refers to gymnastic rings, which are used in tons of CrossFit movements and exercises
                            such as dips, rows, and muscle ups.</p>
                    </dd>
                </dl>
            </section>
        </div>
    </main>