<div class="page-home">
  <h1 class="h1-portada">Various pages</h1>
  <main>  
  <div class="container-a">

      <img src="../src/assets/images/portada/capacidades-ajedrez.jpg" class="logo-home" alt="UOC varios">

        <p>Chess, a sports specialty of ancient culture, is today the center of attention and development in our country.</p>

        <p>The <strong>Chess</strong>, A healthy mind and a fit body go a long way in the future of a healthy boy or girl. Unless the child is in the habit of practicing mental exercises in addition to physical exercises as he grows up, he will casually experience problems such as mental numbness, forgetfulness, loss of concentration or a host of serious mental disorders like Alzheimer's or dementia.</p>

        <blockquote class="inline-half">
            <p>"El ajedrez, que reúne orgánicamente elementos del Arte, la Ciencia y el Deporte, a lo largo
              de los siglos ha constituido parte inalienable de la Cultura y la Civilización mundial"</p>
            <cite>Isaac Linder</cite>
        </blockquote>
    </div>
</main>  
</div>