<hr>
<h1 class="centrado h1-portada">Members</h1>
<main>
    <div class="pageTwo-container">
        <div class="members-container-list">
            <div class="members-container-list-items">
                <include src="../src/views/components/article-members.html">
                { "rute" : "../src/assets/images/miembros/JuditPolgar.jpg", "text" : "Judit Polgar","parrafo":"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia"}
                </include>
                <include src="../src/views/components/article-members.html">
                { "rute" : "../src/assets/images/miembros/sinFoto.jpg", "text" : "Carlos Vilela","parrafo":"Separated they live in Bookmarksgrove right at coast of the Semantics."}
                </include>
                <include src="../src/views/components/article-members.html">
                 { "rute" : "../src/assets/images/miembros/bohemio-hombre-concentracion-sus-dedos.jpg", "text" : "Bohemio","parrafo":"A small river named Duden flows by their place and supplies it"}
                </include>
                <include src="../src/views/components/article-members.html">
                 { "rute" : "../src/assets/images/miembros/sinFoto.jpg", "text" : "Ligia Dominguez","parrafo":"Separated they live in Bookmarksgrove right at coast of the Semantics."}
                </include>
                <include src="../src/views/components/article-members.html">
                 { "rute" : "../src/assets/images/miembros/NijatAbasov.jpg", "text" : "Nijat Abasov","parrafo":"Even the all-powerfull Poimting has no control about the blind texts"}
                </include>
                <include src="../src/views/components/article-members.html">
                 { "rute" : "../src/assets/images/miembros/MagnusCarlsen.jpg", "text" : "Magnus Carlsen","parrafo":"One day homever a samll line of blind text by the name of london Ipsum>"}
                </include>
            </div>
        </div>
    </div>
</main>
<h2>if necessary, more members can be added</h2>