<ul>
    <li>
        <input type="checkbox" name="goals" id="meet"> <label for="meet">Meet people
        </label>
    </li>
    <li>
        <input type="checkbox" name="goals" id="improve"> <label for="improve">Improve my skills</label>
    </li>
    <li>
        <input type="checkbox" name="goals" id="champiom"> <label for="champiom">I want to be champion</label>
    </li>
    <li>
       <input type="checkbox" name="goals" id="time"> <label for="time">it's just for passing time</label>
    </li>
    <li>
        <input type="checkbox" name="goals" id="chess"> <label for="chess">I love chess</label>
    </li>
</ul>